<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gitty!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="../lib/animate.min.css">
    <link rel="stylesheet" href="../lib/chatstyle.css">
  </head>
  <style type="text/css">
    [v-cloak] {
      display: none;
    }
    .icon-title {
      text-align: center;
    }
    .right-text {
      text-align: right
    }
    .container-new {
      margin-bottom: 20px;
      padding: 10px;
    }
  </style>
  <body>
  <section class="section" id="app" v-cloak>
    <div class="container icon-title animated pulse">
      <img src="../assets/img/recorder.png" width="200" height="200" v-on:click="recordAudio">
    </div>
    <div class="right-text">{{username}}</div>
    <div class="container container-new is-warning animated bounceInUp">
      <ul class="chat-thread" v-if="messageList.length">
        <li v-for="message in messageList">{{message}}</li>
      </ul>
    </div>
    <div class="container container-new notification is-primary animated bounceInUp">
      <h2 class="title is-small">
        Repo List
      </h2>
      <div class="field" v-for="(repo, index) in currentRepos">
        <div class="control columns is-mobile">
          <span class="column is-three-quarters">{{repo.name}}</span>
          <span class="column"><a :class="['button', index == curDirIndex ? 'is-danger' : 'is-info']" v-on:click="enterRepos(index)">{{index == curDirIndex ? 'NowIn' : 'Enter'}}</a></span>
        </div>
      </div>
      <a class="button is-info is-large add-border" v-on:click="addFromLocal"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;Add a Repo from Local</a>
    </div>
    <div class="container container-new notification is-primary animated bounceInUp">
      <h2 class="title is-small">
        Clone Remote Repos
      </h2>
      <div class="field" v-for="(repo, index) in remoteRepos">
        <div class="control columns is-mobile" v-if="!(!showAllRemotes && index > 4)">
          <span class="column is-three-quarters">{{repo.name}}</span>
          <span class="column"><a class="button is-warning" v-on:click="cloneRepos(index)">Clone</a></span>
        </div>
      </div>
      <div class="control columns is-mobile">
        <span class="column is-three-quarters"></span>
        <span class="column"><a class="button is-info is-large add-border" v-on:click="showAllRemotes = !showAllRemotes"><i :class="['fa', showAllRemotes ? 'fa-minus-square' : 'fa-plus-square']" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </section>
  </body>
  <script src="../lib/mediaUtils.js"></script>
  <script src="../lib/axios.min.js"></script>
  <script src="../lib/vue.min.js"></script>
  <script type="text/javascript">
    const {ipcRenderer} = require('electron')
    const GET_REPOS = 'https://api.github.com/users/'
    new Vue({
      el:'#app',
      data: {
        username: localStorage.getItem('username') || 'pdd',
        isRecord: false,
        remoteRepos: [],
        currentRepos: [],
        messageList: [],
        audioObj: {},
        curDirIndex: -1,
        curDirObj: {},
        showAllRemotes: false
      },
      methods: {
        addFromLocal() {
          ipcRenderer.send('add-local')
        },
        enterRepos(index) {
          if (this.curDirIndex === index) {
            return
          }
          this.curDirIndex = index
          this.curDirObj = this.currentRepos[index]
        },
        cloneRepos(index) {
          let data = this.remoteRepos[index]
          this.messageList.push('git clone ' + data.full_name)
          ipcRenderer.send('clone', data)
        },
        recordAudio() {
          if (!this.isRecord) {
            startRecord(true)
            this.isRecord = true
          }
          else {
            stopRecord(() => {
                // 播放
                this.audioObj = playRecord()
            });
          }
          
        }
      },
      created() {
        ipcRenderer.on('clone-success', (evt, otherData) => {
            this.messageList.push('clone succeeded!')
        })
        ipcRenderer.on('clone-fail', (evt, otherData) => {
            this.messageList.push('clone failed!')
        })
        ipcRenderer.on('fetch-success', (evt, otherData) => {
            this.messageList.push('fetch success!')
        })
        ipcRenderer.on('fetch-fail', (evt, otherData) => {
            this.messageList.push('fetch success!')
        })
        ipcRenderer.on('pull-success', (evt, otherData) => {
            this.messageList.push('pull success!')
        })
        ipcRenderer.on('pull-fail', (evt, otherData) => {
            this.messageList.push('pull success!')
        })
        ipcRenderer.on('push-success', (evt, otherData) => {
            this.messageList.push('push success!')
        })
        ipcRenderer.on('push-fail', (evt, otherData) => {
            this.messageList.push('push success!')
        })
        ipcRenderer.on('commit-success', (evt, otherData) => {
            this.messageList.push('commit success!')
        })
        ipcRenderer.on('commit-fail', (evt, otherData) => {
            this.messageList.push('commit success!')
        })
        ipcRenderer.on('selected-local', (evt, otherData) => {
            this.currentRepos.push({
              name: otherData.name,
              path: otherData.path
            })
        })
        axios.get(GET_REPOS + this.username + '/repos')
          .then((res) => {
            this.remoteRepos = res.data
          })
          .catch((err) => {
            alert(err);
          });
      }
    });
  </script>
</html>