<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gitty!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="../lib/animate.min.css">
    <link rel="stylesheet" href="../lib/chatstyle.css">
  </head>
  <style type="text/css">
    [v-cloak] {
      display: none;
    }
    .icon-title {
      text-align: center;
    }
    .right-text {
      text-align: right
    }
    .container-new {
      margin-bottom: 20px;
      padding: 10px;
    }
  </style>
  <body>
  <section class="section" id="app" v-cloak>
    <div :class="['container', 'icon-title', 'animated', isFlag ? 'pulse' : '']">
      <img src="../assets/img/octoface.svg" width="200" height="200" v-on:click="recordAudio">
    </div>
    <div class="right-text">{{username}}</div>
    <div class="container container-new is-warning animated bounceInUp">
      <ul class="chat-thread" v-if="messageList.length">
        <li v-for="message in messageList">{{message}}</li>
      </ul>
    </div>
    <div class="container container-new notification is-primary animated bounceInUp">
      <h2 class="title is-small">
        Local Repos
      </h2>
      <div class="field" v-for="(repo, index) in currentRepos">
        <div class="control columns is-mobile">
          <span class="column is-three-quarters">{{repo.name}}</span>
          <span class="column"><a :class="['button', index == curDirIndex ? 'is-success' : 'is-info']" v-on:click="enterRepos(index)">{{index == curDirIndex ? 'NowIn' : 'Enter'}}</a></span>
        </div>
      </div>
      <a class="button is-info is-large add-border" v-on:click="addFromLocal"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;Add a Repo from Local</a>
    </div>
    <div class="container container-new notification is-primary animated bounceInUp">
      <h2 class="title is-small">
        Remote Repos
      </h2>
      <div class="field" v-for="(repo, index) in remoteRepos">
        <div class="control columns is-mobile" v-if="!(!showAllRemotes && index > 4)">
          <span class="column is-three-quarters">{{repo.name}}</span>
          <span class="column"><a class="button is-warning" v-on:click="cloneRepos(index)">Clone</a></span>
        </div>
      </div>
      <div class="control columns is-mobile">
        <span class="column is-three-quarters"></span>
        <span class="column"><a class="button is-info is-small add-border" v-on:click="showAllRemotes = !showAllRemotes">{{showAllRemotes ? 'Fold' : 'Expand'}}&nbsp;<i :class="['fa', showAllRemotes ? 'fa-chevron-circle-up' : 'fa-chevron-circle-down']" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </section>
  </body>
  <script src="../lib/mediaUtils.js"></script>
  <script src="../lib/axios.min.js"></script>
  <script src="../lib/vue.min.js"></script>
  <script type="text/javascript">
    const {ipcRenderer} = require('electron')
    const SpeechSDK = require('../lib/speechsdk.js')
    const Buffer = require('buffer').Buffer;
    const fs = require('fs')
    const stream = require('stream');
    const GET_REPOS = 'https://api.github.com/users/'
    let sdk = new SpeechSDK()
    let fileReader = new FileReader()
    let timer

    // fileReader.onload = function() {
    //   fs.writeFileSync('test.wav', Buffer.from(new Uint8Array(this.result)));
    // };

    new Vue({
      el:'#app',
      data: {
        username: localStorage.getItem('username') || 'pdd',
        isRecord: false,
        remoteRepos: [],
        currentRepos: [],
        messageList: [],
        audioObj: {},
        curDirIndex: -1,
        curDirObj: {},
        showAllRemotes: false,
        isFlag: true,
        curWav: 0
      },
      methods: {
        addFromLocal() {
          ipcRenderer.send('add-local')
        },
        enterRepos(index) {
          if (this.curDirIndex === index) {
            return
          }
          this.curDirIndex = index
          this.curDirObj = this.currentRepos[index]
        },
        cloneRepos(index) {
          let data = this.remoteRepos[index]
          this.messageList.push('git clone ' + data.full_name)
          ipcRenderer.send('clone', data)
        },
        recordAudio() {
          if (!this.isRecord) {
            startRecord(false)
            this.isRecord = true
            timer = setInterval(() => { this.isFlag = !this.isFlag }, 400)
          }
          else {
            stopRecord(() => {
                clearInterval(timer)
                // 播放
                fileReader.onloadend = (e) => {
                  let data = Buffer.from(fileReader.result)
                  let bufferStream = new stream.PassThrough();
                  bufferStream.end(data)
                  let params = {
                    audio: bufferStream, // 文件
                    content_type: 'audio/webm' // 文件类
                  };
                  sdk.Speech2TextSDK.recognize(params).then((data) => {
                    data = data.results
                    let word = data[0] ? data[0].alternatives[0].transcript : "can't specific"
                    this.messageList.push(word)
                    sdk.analyze(word).then((e) => {
                      if (!e.action) {
                        let hash = ['Sorry, please speak again', 'Pardon?', 'Can\'t specific your word', 'Could your mind speaking again']
                        let curWord = hash[Math.ceil(Math.random() * 4) - 1]
                        this.messageList.push(curWord)
                        sdk.synthesize(curWord).then((e) => {
                          fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                            let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                            this.curWav++
                            audioPlayer.autoplay = true
                          })
                        })
                        return
                      }
                      else {
                        ipcRenderer.send(e.action, {
                          path: this.curDirObj.path,
                          message: 'commit file',
                          url: this.curDirObj.url
                        })
                      }
                    });

                  });
                };
                this.audioObj = playRecord()
                this.isRecord = false
                fileReader.readAsArrayBuffer(this.audioObj)
            });
          }
          
        }
      },
      created() {
        ipcRenderer.on('clone-success', (evt, otherData) => {
            sdk.synthesize('clone succeeded').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('clone succeeded!')
        })
        ipcRenderer.on('clone-fail', (evt, otherData) => {
            sdk.synthesize('clone failed').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('clone failed!')
        })
        ipcRenderer.on('pull-success', (evt, otherData) => {
            sdk.synthesize('pull succeeded').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('pull succeeded!')
        })
        ipcRenderer.on('pull-fail', (evt, otherData) => {
            sdk.synthesize('pull failed').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('pull failed!')
        })
        ipcRenderer.on('push-success', (evt, otherData) => {
            sdk.synthesize('push succeeded').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('push succeeded!')
        })
        ipcRenderer.on('push-fail', (evt, otherData) => {
            sdk.synthesize('push failed').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('push failed!')
        })
        ipcRenderer.on('commit-success', (evt, otherData) => {
            sdk.synthesize('commit succeeded').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('commit succeeded!')
        })
        ipcRenderer.on('commit-fail', (evt, otherData) => {
            sdk.synthesize('commit failed').then((e) => {
              fs.writeFile('./write' + this.curWav + '.wav', e, (err) => {
                let audioPlayer = new Audio('../write' + this.curWav + '.wav')
                this.curWav++
                audioPlayer.autoplay = true
              })
            })
            this.messageList.push('commit failed!')
        })
        ipcRenderer.on('selected-local', (evt, otherData) => {
            this.currentRepos.push({
              name: otherData.name,
              path: otherData.path,
              url: otherData.url
            })
        })
        axios.get(GET_REPOS + this.username + '/repos')
          .then((res) => {
            this.remoteRepos = res.data
          })
          .catch((err) => {
            alert(err);
          });
      }
    });
  </script>
</html>